@charset "utf-8";
/* Reset */
*,
*::after
*::before{
      margin: 0;
      padding: 0;
      box-sizing: border-box;

  }
  /*main style*/
  body , html {
      font-family: 'roboto', sans-serif;
      inline-height: 1.7rem;

  }
a{
    text-decoration: none;
    color: #fff;

}
ul{
    list-style: none;
}
/*Utility classes */
.container { 
          width: 80%;
          margin: 0 auto;
          padding: 0 20px;
          }

          .clear{
              clear: both;
          }
          .text-center{
              text-align: center;
          }
.bg-dark{
    background: #2f2f2f2;
}
.text-primary{
    color: #fed136;
}
.text-white{
    color:#fff
}
/* navbar styel*/
.navbar{
    padding: 16px 0;
}
.navbar .nav-items{
    display: flex;
    justify-content: space-between;
}
.navbar .nav-items .logo a{
    font-size: 2rem;
    color: #fed136;
    font-weight: bold;
}
.nav .nav-items .links ul li {

    display: inline-block;
    padding: 0 8px;
}
.navbar .nav-items .links ul li a:hover{
    color: #fed136;
}
welcome.{
    display: flex;
}
1st.{
 background: #fed136;
}